.MyApp{
  text-align: center;
  width: 50%;
  margin: auto;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 1vh;
  margin: auto;
}

tr, td {
  padding: 10px;
}

.form-container {
  margin-top: 15px;
}

input {
  margin-bottom: 10px;
}